# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# dotenv
.env
.env.keys

# pre-commit
.pre-commit-config.yaml

# jj
.jj

# rust
target
rust/**/target
Cargo.lock

# Darwin
.DS_Store

